torch==2.1.2+cu118
torchvision==0.16.2+cu118
torchaudio==2.1.2
httpx
Pillow
streamlit
transformers==4.32.0
accelerate
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
pillow
tensorboard
matplotlib
